@charset "utf-8";

body {
	--bs-body-bg: black;
	--bs-body-color: white;
	--bs-body-font-family: 'Mako', 'Trebuchet MS', arial, serif;
	overflow-y: scroll;

	&.unscrollable {
		overflow: hidden;
	}
}

#app {
	padding: .4rem;
}

img {
    display: block;
}

main, footer, header {
    width: 80%;
    margin: 10px auto;
}

@media (width < 768px) {
	main, footer, header {
		width: 100%;
	}
}

img.logo {
	margin-bottom: 15px;
}

a {
	color: white;
}

#flickr {

	& .row {
		--bs-gutter-x: .3rem;

		& .thumb { 
			padding-bottom: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			margin-bottom: .4rem;
			cursor: pointer;
			border: 2px solid black;
			transition : border 100ms;
		}

		& .thumb:hover {
			border-color: white;
			transition : border 200ms;
		}
	}

	& #sets {
		position: relative;

		& #setlist {
			display: flex;
			flex-wrap: nowrap;

			& .thumb {
				width:100%;
				aspect-ratio: 1 / 1;
				padding: 0px;
				background-size: cover;
    			background-position: center;
				filter: blur(0px) opacity(1);
				transition: all .2s ease-in-out;
				margin: 2px;
				cursor: pointer;
			}

			& .thumb:first-of-type {
				margin-left:0px;
			}

			& .thumb:last-of-type {
				margin-right:0px;
			}

		
			&.shorty .thumb {
				filter: blur(6px) opacity(0.3);
				transition: all .2s ease-in-out;

				@media (width >= 768px) {
						padding-bottom: calc(9vw);
				}

			}
		}
			
		& .settitle {
			z-index: 10;
			height: 100%;
			position: absolute;
			width: 100%;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			align-items: center;

			& small {
				color: silver;
				font-size: 80%;
			}
		}
	}
}

#photodisplay {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	background-color: #000000CC;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	user-select: none;

	& .prevbutton, .nextbutton {
		width: 50px;
		height: 50px;
		color: white;
		margin: 20px;
		cursor: pointer;
	}

	& .selectedphoto {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		height: 100%;
		width: 100%;
	
		& img {
			max-height: 90%;
			max-width: 95%;
		}
	}

}

footer {
	& small {
		font-size: 70%;
		color: gray;
	}

	& a {
		color: white;
	}
}